<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit and Delete Data</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Arial', sans-serif;
        }

        body {
            background-color: #fae8b4;
        }

        .navbar-custom {
            background-color: #3d3d3d;
        }

        .navbar-nav .nav-link {
            color: #fae8b4;
        }

        .navbar-brand {
            color: #fae8b4;
        }

        .nav-pills .nav-link.active {
            background-color: #3d3d3d;
            color: #fae8b4;
        }

        .nav-pills .nav-link {
            border-radius: 25px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 0 10px;
        }

        @media (max-width: 576px) {
            .form-select {
                width: 100% !important;
            }
        }


        @media (max-width: 768px) {
            .btn-primary {
                width: 100%;
            }

            .form-select {
                width: 100% !important;
            }
        }

        @media (min-width: 769px) {
            .form-select {
                width: 50% !important;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-custom navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" style="color: #e0e0e0;">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" style="color: #e0e0e0;">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/predict" style="color: #e0e0e0;">Prediksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" style="color: #e0e0e0;">Tentang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/delete" style="color: #fae8b4;">Lihat Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="text-center">Edit dan Menghapus Data Penjualan</h2>

        <form method="GET" action="{{ url_for('delete') }}" class="mb-3">
            <div class="row mb-2">
                <div class="col-md-6 col-12 mb-2">
                    <label for="category" class="form-label">Pilih Kategori:</label>
                    <select name="category" id="category" class="form-select form-select-sm"
                        onchange="this.form.submit()">
                        <option value="">-- Pilih Kategori --</option>
                        <option value="lada_halus" {% if selected_category=='lada_halus' %}selected{% endif %}>Lada
                            Halus</option>
                        <option value="lada_butir" {% if selected_category=='lada_butir' %}selected{% endif %}>Lada
                            Butir</option>
                    </select>
                </div>
                <div class="col-md-6 col-12 mb-2">
                    <label for="items_per_page" class="form-label">Data Per Halaman:</label>
                    <select name="items_per_page" id="items_per_page" class="form-select form-select-sm"
                        onchange="this.form.submit()">
                        <option value="5" {% if items_per_page==5 %}selected{% endif %}>5</option>
                        <option value="10" {% if items_per_page==10 %}selected{% endif %}>10</option>
                        <option value="15" {% if items_per_page==15 %}selected{% endif %}>15</option>
                        <option value="20" {% if items_per_page==20 %}selected{% endif %}>20</option>
                        <option value="all" {% if items_per_page is none %}selected{% endif %}>Semua</option>
                    </select>
                </div>

            </div>
        </form>


        {% set months = {
        '01': 'Januari', '02': 'Februari', '03': 'Maret', '04': 'April',
        '05': 'Mei', '06': 'Juni', '07': 'Juli', '08': 'Agustus',
        '09': 'September', '10': 'Oktober', '11': 'November', '12': 'Desember'
        } %}

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bulan</th>
                        <th>Tahun</th>
                        <th>Kategori</th>
                        <th>Penjualan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales_data %}
                    <tr>
                        <td>{{ months[sale.date.split('-')[0]] }}</td>
                        <td>{{ sale.date.split('-')[1] }}</td>
                        <td>{{ sale.category }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('edit_total', id=sale.id) }}" class="d-inline">
                                <input type="number" name="total" value="{{ sale.total|int }}"
                                    class="form-control form-control-sm" required>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                            <form method="POST" action="{{ url_for('delete_data', id=sale.id) }}" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center flex-wrap">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('delete', page=page-1, category=selected_category, items_per_page=items_per_page) }}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for p in range(1, total_pages + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link"
                        href="{{ url_for('delete', page=p, category=selected_category, items_per_page=items_per_page) }}">{{
                        p }}</a>
                </li>
                {% endfor %}
                {% if page < total_pages %} <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('delete', page=page+1, category=selected_category, items_per_page=items_per_page) }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                    {% endif %}
            </ul>
        </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info mt-3 alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>